body{
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #202020 !important;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
    overflow-x: hidden;
}
main{
    flex: 1; 
}
html {
    scroll-behavior: smooth;
}

.col-icons{
    display: flex;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    color:#008cff;
    align-items: center;
    margin:2rem 0;
}

.col-icons h1{
    font-weight: bold;
    padding: 1rem;
}
.text-info p{
    color: #fff;
}

.invitation{
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: linear-gradient(rgba(14, 14, 14, 0.692), rgba(0, 81, 255, 0.712)), url('/imgs/img3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
    color: #fff;
    box-sizing: border-box;
}

.invitation button{
    color: #fff;
    font-weight: 700;
    border-radius: 3rem;
    padding: .7rem 1.5rem;
}

.infos{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #fff;
    overflow: hidden;
}

/* Animação do texto */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-150%);
        opacity: 0.1;    
    }
    40%, 50%, 60%, 70%{
        transform: translateX(0);
        opacity: 1;
    }

    100%{
        transform: translateX(150%);
        opacity: 0.5;
    }
}

.infos h1{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    animation: slideInFromLeft 15s ease-in-out infinite;
}

.infos span {
    color: #12c8ff;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    display: inline-block;
    animation: identifier 4s infinite alternate;
}

@keyframes identifier {
    0% {
        color: #009dff;
     }
     50%{
        color:#05f7ffef;
     }
     100% {
        color:#12c8ff;
     }
}

.invict{
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom:5px solid #020072;
}

.penultimo-rodape{
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 1rem;
    background-color: #008cff;
}

.apresentacao{
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.apresentacao span{
    color:#35a4ff;
    font-weight: bold;
}

.apresentacao h1{
    font-size: 2rem;
    font-weight: bold;
    color: #008cff;
}

.apresentacao p{
    margin-top: 1rem;
    color:#fff;
}

.icon{
    display: flex;    
    justify-content: center;
    padding: 1rem;
    background-color: #008cff;
    border-radius: 10%;
    color: #fff;
    width: 3rem;
}

.icon-ifood,
.icon-mercados,
.icon-lojas{
    display: flex;
    align-items: center;
    font-size: .9rem;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.icon-ifood,
.icon-mercados{
    padding-right: 1rem;
}

.text{
    margin-bottom:2rem;
}

.text h2, h3{
    line-height: 1;
    padding: 0;
}

.col-icons span{
    margin-left: 1rem;
}

.apresentacao h1{
    line-height: 1;
}

.img{
    border-radius: 1rem;
    padding: 10px;
}

video{
    border-radius: 1rem;
    background-color: #020072;
}

.pgtSlide{
    display: flex;
    flex-direction:row;
    border: 1px solid #006eb3 !important;
    border-radius: 2rem;
    color: #fff;
}

.pgtSlide button {
    position: relative;
    z-index: 1;
    border:none;
    width: 50%;
    padding: 7px;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

#btn1,
#btn2{
    border: none;
}

#infoSlideMensal{
    display: none;
}

#infoSlideAnual{
    display: none;
}

.planos{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoSlideMensal.Active, 
.infoSlideAnual.Active{
    display: block;
}

.planos h2{
    color: #fff;
}

.card{
    border-radius: 10px;
    width: 1rem;
    margin: .7rem .5rem;
    border: #fff 2px solid;
}

.pgtSlide button {
    position: relative;
    z-index: 1;
    border:none;
    color: #fff;
    width: 50%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 16px;
}

.pgtSlide button.active {
    color: #fff;
}

.cards{
    color: #fff;
}