body{
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.container-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    border: none;
    z-index: 2;
}


nav a, li{
    color:#fff !important;
}

a:hover, li:hover{
    color:#cecdff !important;
}


.logo2{
    font-weight: 800;
    font-style: normal;
    color: #ffff;
}

.logo2:hover{
    color: #d0cfff !important;
}

.nav-itens{
    margin-left: 3rem !important;
    margin-right: 3rem !important;
    font-weight: 500;
}

.logoSpan{
    font-weight:200;
}