body{
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
    overflow-x: hidden;
}

nav{
    background-color: #00d9ff !important;
}

.container-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    border: none;
    z-index: 2;
}


nav a, li{
    color:#fff !important;
}

a:hover, li:hover{
    color:#cecdff !important;
}

.logo{
    font-weight: 700;
    font-style: normal;
    color: #ffff;
}

.logo:hover{
    color: #d0cfff !important;
}

.nav-itens{
    margin-left: 3rem !important;
    margin-right: 3rem !important;
    font-weight: 500;
}

.dropdown-item{
    color:#020072 !important;
    font-weight: 600;
}
.dropdown-item:hover{
    color:#000000 !important;
}
